@model ThePodcastReview.Models.ReviewDetail

@{
    ViewBag.Title = "Details";
}

@*<h2>Review Details</h2>*@

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    @Html.DisplayFor(model => model.PodcastTitle)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    @Html.DisplayFor(model => model.Episode)
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Content)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Content)
                        @Html.DisplayNameFor(model => model.CreatedUtc)
                        @Html.DisplayFor(model => model.CreatedUtc)
                           
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.FavEpisodes)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.FavEpisodes)
                    </div>
                </div>
            </div>
        </div>
    </div>




@*<dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>*@

@*<p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId })
            @Html.ActionLink("Back to my reviews", "Index")
        }

        @Html.ActionLink("Back to all reviews", "ViewAll")
    </p>*@
