@using Microsoft.AspNet.Identity
@model ThePodcastReview.Models.ReviewDetail

@{
    ViewBag.Title = "Details";
}
<div>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <h4><strong>@Html.DisplayFor(model => model.PodcastTitle)</strong></h4>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Content)
                        <h5 style="text-align:right"> - Reviewer</h5>
                <h5 style="text-align:left">@Html.DisplayFor(model => model.Rating)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h4><strong>@Html.DisplayNameFor(model => model.FavEpisodes)</strong></h4>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.FavEpisodes)
            </div>
        </div>
    </div>
        <div class="col-md-12">
            <h6 style="text-align:right">
                @Html.DisplayNameFor(model => model.CreatedUtc) -
                @Html.DisplayFor(model => model.CreatedUtc)
            </h6>
            <h6 style="text-align:right">
                @Html.DisplayNameFor(model => model.ModifiedUtc) -
                @Html.DisplayFor(model => model.ModifiedUtc)
            </h6>
        </div>
</div>
</div>
<div>
    <p>
        @if (User.Identity.IsAuthenticated && (Guid.Parse(User.Identity.GetUserId()) == Model.UserId))
        {
            <button type="button" class="btn btn-sm btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId })</button>

            <button type="button" class="btn btn-sm btn-default">@Html.ActionLink("Delete", "Delete", new { id = Model.ReviewId })</button>
        }
    </p>
</div>
</div>
<div>
        @if (User.Identity.IsAuthenticated && (Guid.Parse(User.Identity.GetUserId()) == Model.UserId))
            {
            @Html.ActionLink("Back to my reviews", "Index")@: |
        }
        @Html.ActionLink("Back to all reviews", "ViewAll")
</div>

